# See LICENSE folder for this sample’s licensing information.
#
# Apple sample code gitignore configuration.

# Finder
.DS_Store

# JetBrains IDE
.idea/

# Xcode - User files
xcuserdata/

# Local build/cache artifacts
.deriveddata/
.clang-cache/
.swift-cache/

**/*.xcodeproj/project.xcworkspace/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata

**/*.xcodeproj/project.xcworkspace/xcshareddata/*
!**/*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

**/*.playground/playground.xcworkspace/*
!**/*.playground/playground.xcworkspace/xcshareddata

**/*.playground/playground.xcworkspace/xcshareddata/*
!**/*.playground/playground.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
